.flex_wrapper {
  min-height: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_list {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.first_switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  width: 62px;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #dee2e6;
  background: #fff;
  transition: 0.5s all;
}

.first_switch:hover {
  background: #055160;
}

.first_switch:hover .switch_link {
  color: #fff;
}
.switch_link {
  color: #055160;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.last_switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  width: 62px;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #dee2e6;
  background: #fff;
  transition: 0.5s all;
}

.last_switch:hover {
  background: #055160;
}

.last_switch:hover .switch_link {
  color: #fff;
}




.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin-right: 12px;
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.box {
  padding: 9px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
}

.limit {
  color: #6c757d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limit_close {
  display: none;
}

.limit_open {
  display: block;
  z-index: 100;
  top: 38px;
  right: 0;
  position: absolute;
  width: 120px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.limit_List {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.limit_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  text-align: center;
  color: #6c757d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  transition: 0.3s all;
  cursor: pointer;
}

.limit_item:hover {
  background: #e4e2e2;
}
