.footer {
  padding: 16px;
}

.line {
  margin: 0 auto;
  border-top: 1px solid #ced4da;
  width: 100%;
  max-width: 986px;
}

.text {
  margin-top: 13px;
  color: #3f444a;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
